%% -*- mode: Erlang; fill-column: 75; comment-column: 50; -*-
%% SASL Logging configuration file
[
 {sasl,
  [
   {sasl_error_logger, {file, "sasl.log"}}
  ]},
 {fsw_client,
  [
   {clients_per_node, "3"},
   {logfile, "client.log"},
   {nodelist, [master@s919538]},
   {directory, "/Users/raballa/Documents/"}
  ]
 },
 {fsw_server,
  [
   {directory, "/Users/raballa/Documents/"},
   {clients_per_node, "1"},
   {logfile, "master.log"},
   {nodelist, [worker@s919538]}
  ]
 }
].
