%% -*- mode: Erlang; fill-column: 75; comment-column: 50; -*-
%% SASL Logging configuration file
[
 {sasl,
  [
   {sasl_error_logger, {file, "sasl.log"}}
  ]},

  % Change these, and the master_node in fs_client for new distribution strategies.
 {fs_master,
  [  
      {master_node_is_client, false}
  ]
  },

  % fs_client has most of the client tuning work
  {fs_client,
    [
        {master_node, master@rsqlogin01},
        {clients_per_node, "4"},
        {max_files_per_block, "256"},
        {callback_module, visitor_callback}
    ]
  },

  % These change seldom
  % directory should be set from the command line...
 {fs_server,
   [
      {logfile, "fsw.log"}
   ]
  }
].
